{{ define "page" }}

<br>

<div style="background-color: #E9E6E1;">
    <br>
    <div class="container">
        <h4>Ausstattung Ferienwohnung Apland</h4>
        <div class="row">

            {{ range .Pages.ByParam "sortrank" }}

                <div class="col s12 m6">
                    <div class="card large">
                        <div class="card-image">
                            <img src={{ .Params.imgurl }}>
                            <span class="card-title">{{ .Title }}</span>
                        </div>
                        <div class="card-content">
                            <p> {{ .Content }}
                            </p>
                        </div>
                        <!-- <div class="card-action">
                                <a href="#">This is a link</a>
                            </div> -->
                    </div>
                </div>

            {{ end }}
        </div>
    </div>
</div>

<br>



<div style="background-color: #E9E6E1;">
    <div class="container">
        <br>
        <h4>Impressionen Ferienwohnung Apland</h4>
        <p><i>Klick zum Vergrössern</i></p>

        {{ partial "image-gallery" (dict "context" . "gallery_dir" "album-apt" ) }}

    </div>
</div>
<br>

<div style="background-color: #E9E6E1;">
    <div class="container">
        <br>
        <h4>Grundriss</h4>
        <p><i>Klick zum Vergrössern</i></p>

        {{ partial "image-gallery" (dict "context" . "gallery_dir" "album-grundriss" ) }}
        <br>
    </div>
</div>




{{ end }}