<nav class="container nav-wrapper z-depth-0">

    <a href="/" class="brand-logo left">
      <img
        src="/icons/menuicon_apland.png"
        alt="Apland"
        height="60px;"
        style="vertical-align: middle"
      />
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
        <i class="material-icons black-text">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      {{ range site.Menus.main }}
      <li>
        <li><b><a href="{{ .URL }}">{{.Name}}</a></b></li>
    </li>
    {{ end }}
      <li>
        {{ partial "buchung-button" . }}
      </li>
    </ul>
</nav>

<ul class="sidenav container" id="mobile-demo">
{{ range site.Menus.main }}
<li>
  <li><b><a href="{{ .URL }}">{{.Name}}</a></b></li>
</li>
{{ end }}
<li>
    <a href="/book" class="waves-effect waves-light btn">Online Buchung</a>
</li>
</ul>
