{{ define "page" }}
  <!-- Erstes Bild mit Title OVerlay -->
  <div class="parallax-container">
    <!-- Overlay with Titles -->
    <div class="no-pad-bot">
      <h3 class="center white-text"><b>{{ .Title }}</b></h3>
      <h5 class="center white-text"><b>{{ .Content | plainify }}</b></h5>
    </div>

    <div class="parallax">
      {{ $home_a := .Resources.Get "home_a.jpg" }}
      <img
        src="{{ ($home_a.Fit "1600x1600 q50").Permalink }}"
        class="responsive-img" />
    </div>
  </div>

  <div class="section white">
    <div class="row">
      {{ range where .Site.RegularPages ".Params.cardsegment" 1 }}
        <div class="col s12 m6 l3">
          <a href="{{ .Params.link_target }}">
            <div class="card hoverable">
              <div class="card-content">
                <span class="card-title">{{ .Title }}</span>
                {{ .Content }}
              </div>
            </div>
          </a>
        </div>
      {{ end }}

    </div>
  </div>

  <!-- Zweites Bild -->

  <div class="parallax-container">
    <div class="parallax">
      {{ $home_b := .Resources.Get "home_b.jpg" }}
      <img
        src="{{ ($home_b.Fit "1600x1600 q50").Permalink }}"
        class="responsive-img" />
    </div>
  </div>

  <div class="section white">
    <div class="row">
      {{ range where .Site.RegularPages ".Params.cardsegment" 2 }}
        <div class="col s12 m6 l3 ">
          <a href="{{ .Params.link_target }}">
            <div class="card hoverable">
              <div class="card-content">
                <span class="card-title">{{ .Title }}</span>
                {{ .Content }}
              </div>
            </div>
          </a>
        </div>
      {{ end }}


      <div class="col s12 m6 l3">
        <div class="center-align">
          <br />
          <br />
          {{ partial "buchung-button" . }}
        </div>
      </div>
    </div>
  </div>

  <!-- Drittes  Bild -->
  <div class="parallax-container">
    <div class="parallax">
      {{ $home_c := .Resources.Get "home_b.jpg" }}
      <img
        src="{{ ($home_c.Fit "1600x1600 q50").Permalink }}"
        class="responsive-img" />
    </div>
  </div>
{{ end }}
