{{ define "page" }}

<div class="parallax-container">
    <div class="no-pad-bot">
        <br><br>
        <div class="container">
            <h3 class="header center white-text"><b>Ferienwohnung Apland</b></h3>
            <div class="row center">
                <h5 class="header col s12 white-text"><b>Ihre Ferienwohnung in der Stadtmitte von Landau/Pfalz</b>
                </h5>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax">
        <img src="img/home/wozi2.jpg" alt="Wohnzimmer" class="responsive-img">
    </div>
</div>


<div class="container">
    <div class="row">
        <br>

        <div class="col s12 m6 l3 hoverable">
            <a href="#">
                <div class="wide-container">
                    <h5 class="center">
                        Wohlfühlen
                    </h5>
                    <p>
                        Ankommen in der Wohnung: Geschmackvolle Einrichtung, zentrale Lage, eigener
                        Parkplatz. Von Anfang an geniessen - Überzeugen Sie sich selbst.
                    </p>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l3 hoverable">
            <a href="apt_de.html">
                <div class="wide-container">
                    <h5 class="center">
                        Die Wohnung
                    </h5>
                    <p>
                        Damit Sie mit leichtem Gepäck anreisen können, ist die Wohnung Apland perfekt
                        ausgestattet. Und das haben wir hier für Sie genau beschrieben.
                    </p>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l3 hoverable">
            <a href="#">
                <div class="wide-container">
                    <h5 class="center">
                        Gut ankommen
                    </h5>
                    <p>
                        Per Zug? Per Auto?
                        Zentral gelegen, ob mit der Bahn, Auto oder Fahhrad: Profitieren Sie vom
                        inkludierten
                        Tiefgaragenplatz mit Aufzug und dem barrierefreien Zugang.
                    </p>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l3 hoverable">
            <a href="#">
                <div class="wide-container">
                    <h5 class="center">
                        Einfach buchen
                    </h5>
                    <p>
                        Prüfen Sie hier direkt online die Verfügbarkeit der Wohnung. </p>
                    <p>
                        Und mit der Online-Buchung wird ihr Aufenthalt sofort bestätigt.
                    </p>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="img/home/esstisch.jpg" alt="Esstisch" class="responsive-img">
    </div>
</div>

<div class="container">
    <div class="row">
        <br>

        <div class="col s12 m6 l3 hoverable">
            <a href="#">
                <div class="wide-container">
                    <h5 class="center">
                        Landau
                    </h5>
                    <p>
                        Shoppen in der Innenstadt? Kaffee trinken? Ein Stück Patisserie aus dem Elsass
                        geniessen? Ein Glas Wein beim Winzer in der Weinstube? Willkommen in Landau.
                    </p>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l3 hoverable">
            <a href="#">
                <div class="wide-container">
                    <h5 class="center">
                        Freizeit
                    </h5>
                    <p>
                        Landau mit der Bahn, zu Fuss, mit Kindern, mit dem Fahrrad, zum Shoppen. Für alle
                        ist etwas dabei. Lassen Sie sich von unseren Tipps inspirieren.
                    </p>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l3 hoverable">
            <a href="#">
                <div class="wide-container">
                    <h5 class="center">
                        Wir sind da
                    </h5>
                    <p>
                        Haben Sie Fragen? Zögern Sie nicht uns zu kontatieren.
                        Auch während ihres Aufenthalts stehen ihnen unsere Kontakpersonen und Haushälterin
                        jederzeit mit Rat und Tat zur Seite.
                    </p>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l3">
            <br><br>
            <a class="waves-effect waves-light btn">Online Buchung</a>
        </div>

    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="img/home/kueche.jpg" alt="Küche" class="responsive-img">
    </div>
</div>

{{ end }}