@media only screen and (max-width: 600px) {
  .parallax-container {
    height: 300px;
  }
}

/* nav {
    background-color: #E9E6E1;
} */

nav {
  background-color: white;
}

.nav-wrapper {
  color: black;
  /* background-color: #E9E6E1; */
}

p {
  color: black;
}

nav ul a {
  color: black;
}

.page-footer {
  padding-top: 20px;
  color: black;
  background-color: white;
  /* background-color: #e0e0e0; */
}

.page-footer .footer-copyright {
  padding: 10px 0px;
  color: black;
  background-color: white;
}

.wide-container {
  .container;
  width: 95%;
}

/* .xyxno-pad-bot {
    background-color: rgba(0, 0, 0, 0.1);
} */

/* Hintergrund Logo 1    E9E6E1 */

.flexbox {
  display: flex;
  overflow: hidden;
}

.flexbox .col {
  flex: 1;
  background: red;
  margin: 10px;
  padding: 20px;
}

body {
  padding: 20px;
}
