{{ define "page" }}
  <h4 class="flow-text">{{ .Title }}</h4>

  <div class="card-container">
    <div class="row">
      {{ range .Pages }}
        <div class="col s12 m6 l3 ">
          <div class="card" style="height: 100%;">
            <div class="card-image">
              {{ $cardimage := .Resources.Get .Params.card_img_filemame }}
              {{ $cardimage := $cardimage.Fill "400x200" }}
              <img src="{{ $cardimage.RelPermalink }}" />

              <span class="card-title">{{ .Title }}</span>
            </div>
            <div class="card-content">{{ .Content }}</div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>

  <h4 class="flow-text">Bildergalerie der Wohnung</h4>
  {{ partial "image-gallery" (dict "context" . "gallery_dir" "gallery-wohnung" ) }}


  <h4 class="flow-text">Grundriss</h4>
  {{ partial "image-gallery" (dict "context" . "gallery_dir" "gallery-grundriss" ) }}
{{ end }}
