{{ define "page" }}

<div class="container">
  <h4>{{.Title}}</h4>
  <div class="card-container">
    <div class="row">
      {{ range .Pages }}

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            {{ $cardimage := .Resources.Get .Params.card_img_filemame}} {{
            $cardimage := $cardimage.Fill "300x300" }}
            <img src="{{ $cardimage.RelPermalink }}" />

            <span class="card-title">{{ .Title }}</span>
          </div>
          <div class="card-content">{{ .Content }}</div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
